/**
			* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
			* http://cssreset.com
			*/
				html, body, div, span, applet, object, iframe,
				h1, h2, h3, h4, h5, h6, p, blockquote, pre,
				a, abbr, acronym, address, big, cite, code,
				del, dfn, em, img, ins, kbd, q, s, samp,
				small, strike, strong, sub, sup, tt, var,
				b, u, i, center,
				dl, dt, dd, ol, ul, li,
				fieldset, form, label, legend,
				table, caption, tbody, tfoot, thead, tr, th, td,
				article, aside, canvas, details, embed,
				figure, figcaption, footer, header, hgroup,
				menu, nav, output, ruby, section, summary,
				time, mark, audio, video {
					margin: 0;
					padding: 0;
					border: 0;
					font-size: 100%;
					font: inherit;
					vertical-align: baseline;
				}
				/* HTML5 display-role reset for older browsers */
				article, aside, details, figcaption, figure,
				footer, header, hgroup, menu, nav, section {
					display: block;
				}
				body {
					line-height: 1;
				}
				ol, ul {
					list-style: none;
				}
				blockquote, q {
					quotes: none;
				}
				blockquote:before, blockquote:after,
				q:before, q:after {
					content: '';
					content: none;
				}
				table {
					border-collapse: collapse;
					border-spacing: 0;
				}

				img {
					display:block;
				}


				body {
					font-family:'avenir next', 'avenir';
					font-size:16px;
					line-height:24px;
					padding:24px;
					color:#212121;
					color:rgba(0,0,0,0.8);
					font-feature-settings:'liga';
				}

				h1 {
					font-size:14px;
					text-transform:uppercase;
					font-weight:500;
					letter-spacing:1px
				}

				h2 {
					font-size:36px;
					line-height:36px;
					margin-bottom:12px;
					margin-top:24px;
				}

				h3 {
					font-family:'baskerville';
					font-style:italic;
					font-size:24px;
					line-height:36px;
				}

				h4 {
					font-size:14px;
					text-transform:uppercase;
					font-weight:500;
					letter-spacing:1px;
				}

				p {
						margin-bottom:24px;
						color:rgba(0,0,0,0.6);
						max-width:480px;
				}

				a {
					color:rgba(0,0,0,0.4);
				}

				button.buy-now, input.button {
					font-family:"avenir";
					font-size:1em;
					display:inline-block;
					background:#212121;
					color:white;
					padding:12px;
					text-decoration:none;
					border:4px double white;
				}

				.price {
					font-size:54px;
					line-height:60px;
					font-weight:300;
				}

				.price sup {
					font-size:16px;
					position:relative;
					top:-1.6em;
					font-weight:400;
				}


				header.main {
					padding:24px;
					width:100%;
					margin-left:-24px;
					margin-top:-24px;
				}

				header.main ul {
					position:absolute;
					right:16px;
					top:22px;
				}

				.ask a{
					font-family:'baskerville';
					font-style:italic;
					font-size:18px;
					line-height:24px;
					text-decoration:none;
				}

				.ask a:after {
					content:"";
					display:inline-block;
					width:48px;
					height:48px;
					border-radius:100%;
					margin:-24px 0 -20px 8px;
					border:2px solid rgba(0,0,0,0.2);
					box-sizing:border-box;
					background:url(../img/profile-pic.jpg) no-repeat -2px;
					background-size:48px;
				}

				.product-main {
					width:calc(100% + 48px);
					margin-left:-24px;
				}

				.product-info .actions {
					text-align:right;
					margin-top:-96px;
				}

				.product-info .actions a.buy-now {
					display:inline-block;
					width:100px;
					text-align:center;
				}

				.product-info .actions span {
					display:block;
				}

				.product-main img {
					width:100%;
				}

				.social-feeds{
					padding:24px;
					margin-left:-24px;
					width:100%;
					background-size:contain;
					background:#ced1d8;
				}

				.about-the-artist {
					background:red;
					margin:-24px 0 -60px -24px;
					width:100%;
					padding:24px;
					padding-bottom:72px;
					background:url(../img/about-bg.jpg) no-repeat right;
					background-size:cover;
				}

				.artist-website {
					text-align:right;
					margin-top:-30px
				}

				.social-feeds .comment {
					background-blend-mode: multiply;
					background-color: #ced1d8;
					-webkit-filter: sepia(1) hue-rotate(180deg) saturate(0.3) opacity(0.5) contrast(1.5);
					transition: all 0.2s;
				}

				.social-feeds:hover .comment {
					background-blend-mode: initial;
					-webkit-filter: none;
				}

				.comments {
					border-top:1px solid rgba(0,0,0,0.2);
					padding-top:12px;
					margin-bottom:-24px;
				}

				.comments > div p {
					font-family:'baskerville';
					font-size:18px;
					font-style:italic;
					color:rgba(0,0,0,0.6);
				}

				.comments > div h4, .comments > div p  { display:inline-block}

				.comments ul {
					margin-left:-24px;
					width:100vw;
					background:red;
					clear:both;
					display:block;
				}

				.comment {
					background-size:cover;
					display:block;
					width:100vw;
					height:100vw;
					float:left;
					position:relative;
				}

				.comment a {
					display:block;
					color:white;
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
					opacity:0;
					transition: all 0.2s;
					text-decoration:none;
					-webkit-filter: blur(10px);
					padding:24px;
					font-family:"baskerville";
					font-style:italic;
				}

				.comment a p {
					color:white;
				}

				.comment a p:first-child {
					font-size:24px;
					line-height:36px;
				}

				.comment a p:first-child:before {
					content:"“";
					text-indent: -16px;
					display: inline-block;
				}

				.comment a p:first-child:after {
					content:"”";
				}

				.comment a .commenter {
					color: rgba(255,255,255,0.6);
					position:absolute;
					bottom:24px;
				}

				.comment a .commenter img {
					width: 48px;
					height: 48px;
					border-radius: 100px;
					float: left;
					margin-top: -8px;
					margin-right: 8px;
					margin-left: -8px;
				}

				.comment a .commenter-name {
					font-family:"avenir";
					font-style:normal;
					font-size:14px;
					letter-spacing:1px;
					text-transform:uppercase;
				}

				/*.comment a div {
					position:absolute;
					top:50%; left:50%; transform: translate(-50%, -50%);
					width: 100%;
					padding: 24px;
					box-sizing: border-box;
				}*/

				.comment a:hover {
					opacity:1;
					-webkit-filter: blur(0px);
					background:rgba(0,0,0,0.6)
				}

				footer.main {
					height:24px;
					/*background:red;*/
					padding:24px;
					margin:0 0px -24px -24px;
					width:100%;
					position:relative;
					clear:both;
				}

				footer.main p{
					display:inline-block;
					position:absolute;
					line-height:24px;
					font-size:14px;
				}

				footer.main p.powered-by {
					right:24px;
					bottom:1px;
				}

				footer.main p.powered-by span {
					font-family:"baskerville";
					font-style:italic;
					font-size:16px;
					line-height:24px;
				}


		@media all and (min-width:40em) {
				.about-the-artist {
					background-size:contain;
				}

				.comment {
					width:50vw;
					height:50vw;
				}
		}

		@media all and (min-width:50em) {
				article.main {
					position:relative;
				}

				.product-main {
					width:calc(66%);
					margin-left:-24px;
					margin-bottom:48px;
				}

				.product-info {
					width:33%;
					position:absolute;
					left:66%;
					top:0;
				}

				.comment {
					width:33.33vw;
					height:33.33vw;
				}
		}




/*Emma's styles*/

section.popupWrapper {
  position:fixed;
  visibilty: hidden;
  opacity: 0;
  top: -9999px;
  left: -9999px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
section.popupWrapper.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibilty: visible;
  opacity: 1;
  margin:0 auto;
  overflow-y:scroll;
}
section .popupContent {
  top: 100px;
  left: 20px;
  right: 20px;
  margin: 100px auto 20px;
  max-width: 800px;
  background-color: #fff;
  border:1px solid #979797;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(151, 151, 151, 0.3);
  -moz-box-shadow:    0px 0px 20px 0px rgba(151, 151, 151, 0.3);
  box-shadow:         0px 0px 20px 0px rgba(151, 151, 151, 0.3);
}
section .popupContent .product-image {
	width:100%;
}
.itemDetails{
  padding:20px 0;
}
.itemDetails .price{
	margin-top:70%;
}
h2.popupTitle{
	font-family:'baskerville';
	font-style:italic;
	font-size:36px;
	line-height:36px;
	margin-bottom:12px;
	margin-top:24px;
	color:rgba(0, 0, 0, 0.6);
	}	
.formContent{
	background:#fff;
	min-height:100px;
	padding:10px;
    border-bottom:1px solid #d2d2d2;
}
.formContent h3:before{
    border-radius: 50%;
    color:rgba(0, 0, 0, 0.2);
    border:2px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 1em;
    height: 35px;
    text-align: center;
    width: 35px;
    margin-right:10px;
    font-style:normal;
	content:"1";
}

.formContainer{
	width:70%;
	margin:0 auto;
}
.formContainer label{
	font-size:0.8em;
	display:inline-block;
	width:20%;
}
.formContainer input{
	background-color: #fff;
    border: 1px solid #979797;
    height: 20px;
    padding: 0.5em 0.75em;
	display:inline-block;
	width:70%;
	margin:1%;
}
.formContainer input:focus{
	box-shadow:0 0 5px #ededed inset;
}
input.error{
	border:1px solid #AF2A2B;
}

#message-results{
	font-size:0.8em;
	font-style:italic;
}
#message-results .error{
	color:#AF2A2B;
	padding-left:25px;
}

.popupFooter{
	padding-top:24px;
}
.rightSection p{
	text-align:right;
}
.rightSection p  span{
	display:block;
}
.paypalLogo{
	text-align:right;
	margin-top:5px;
}
.paypalLogo p{
	margin:0;
}
.paypalLogo img {
	display:inline-block;
}
.closeBtn{
	color:rgba(0,0,0,0.4);
	text-decoration:underline;
	background:transparent;
	border:0;
	padding:0;
	font-size:16px;
	cursor:pointer;
}

/*Grid Styles*/
.align {
-moz-box-align: center;
-moz-box-pack: center;
align-items: center;
display: flex;
justify-content: center;
width: 100%;
}

.grid-wrap {
  margin-left: -3em;
  overflow: hidden;
  clear: both; 
}

.grid-col {
  float: left;
  padding-left: 3em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
 }

.grid-col-nopad {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.col-full{
  width: 100%; }

.col-one-half{
  width: 50%; }

.col-one-third{
  width: 33.333%; }

.col-one-quarter{
  width: 25%; }

.col-two-fifths{
	width:40%;}

.col-two-thirds{
	width:60%;
}
.col-three-quarters{
	width:75%;
}
@media only screen and (min-width: 40em) {
  .bp1-col-full{
    width: 100%; }

  .bp1-col-one-half{
    width: 50%; }

  .bp1-col-one-third{
    width: 33.333%; }

  .bp1-col-one-quarter{
    width: 25%; }

  .bp1-col-two-fifths{
	width:40%;
	}
  .bp1-col-two-thirds{
	width:60%;
   }
  .bp1-col-three-quarters{
	width:75%;
	}
}

@media only screen and (max-width: 40em) {
  .itemDetails{
	  padding:20px 10px;
	  }
  .formContainer{
	  width:100%;
	  margin-top:20px;
	  }
}
